extends layout
block content
  h1 #{title}: #{bookinstance._id}
  p #[strong 出版社:] #{bookinstance.imprint}
  p #[strong Due back:] #{bookinstance.due_back_formatted}
  p Do you really want to delete this Bookinstance?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid',required='true',value=bookinstance._id)
      button.btn.btn-primary(type='submit') Delete